# Node project
.DS_Store
*.swp
*/**/.DS_Store
npm-debug.log
.npm/
/tmp
node_modules
.idea/
.npm/
.history/
.vscode/
packages/web3/dist/
.nyc_output/
build/
*/**/lib

# Rust project
target
Cargo.lock
*.swp
.idea/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Cosmos repo
cosmos/